export MESHROUTING=<meshnet-client1>;<meshnet-client2>
export MESHLOCAL=<meshnet-client1>;<meshnet-client2>
export TOKEN=<your token from nordvpn to login manually>
export OPENSSHUSER=linuxserver.io
export OPENSSHPASSWORD=<yourpassword>
